.artwork.favorite1 {
    font-weight: bold;
    background-color: lightblue;
    border: 1px solid darkblue;
}

.artwork {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
li {
    list-style: none;
}

h1 {
   padding-left: 38%;
}
img {
    padding-left:34%;
    display: flex;
}
h2{
    padding-left: 39%;
}
.second-header{
    padding-left: 43%;
}
